<% provide(:title, 'Home') %>
<% if logged_in? %>
<h1>ホーム</h1>
	<div class="row">
		<div class="col-md-8 destroy-javascript-home">
			<%= render 'microposts/micropost', microposts: @feeds %>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-4">
					<%= gravatar_for current_user %>
				</div>
				<div class="col-md-8">
					<p><%= link_to "#{current_user.name}", current_user %></p>
					<%= render 'shared/stats', user: current_user %>
				</div>
			</div>
			<h2>-投稿数トップ３動画-</h2>
			<div>
				<%= render 'shared/video_title_ranking' %>
			</div>
			<h2>-いいね数トップ3投稿-</h2>
			<div id="javascript-like-ranking">
				<%= render 'shared/like_ranking', third_likes_counts_microposts: @third_likes_counts_microposts, third_counts_of_likes_count:@third_counts_of_likes_count %>
			</div>
			<h2>-フォロワー数トップ３</h2>
			<div>
				<%= render 'shared/follower_ranking' %>
			</div>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="main">
			<h1 class="title">
				<p class="youtubit">Youtubit</p>
				<p class="signup">
					<%= link_to "登録",  signup_path %>
				</p>
			</h1>
		</div>
		<%= render 'info' %>
	</div>
<% end %>