<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="row">
	<div class="singup-form col-md-6 col-md-offset-3">
		<%= form_for(:session, url: login_path) do |f| %>
			<div class="form-item field">
				<%= f.label :email %>
				<%= f.email_field :email %>
			</div>

			<div class="form-item field">
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>

			<div class="form-item">
				<%= f.label :remember_me, class: "checkbox" do %>
				  <p>Remember me on this computer</p>
				  <%= f.check_box :remember_me %>
				<% end %>
			</div>
			<div class="form-btn">
				<%= f.submit "ログイン", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
<%= link_to "パスワードを忘れましたか？", new_password_reset_path %>
