<% provide(:title, 'Edit') %>
<h1>ユーザー編集</h1>
<div class="row">
	<div class="edit-form col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="form-item field">
				<%= f.label :name %>
				<%= f.text_field :name %>				
			</div>

			<div class="form-item field">
				<%= f.label :email %>
				<%= f.email_field :email %>				
			</div>

			<div class="form-item field">
				<%= f.label :password %>
				<%= f.password_field :password %>				
			</div>

			<div class="form-item field">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</div>

			<div class="form-btn">	
				<p><%= f.submit "ユーザー編集", class: "btn btn-primary submit-btn" %></p>
			</div>
		<% end %>
	</div>
</div>