<% provide(:title, @user.name) %>
<h1>Profile</h1>
<div class="row">
		<div class="col-md-8">
			<h3 class="non-items">投稿</h3>
			<% if @microposts.empty? %>
				<p class="non-items-title">投稿はありません</p>
			<% else %>
				<div id="destroy-javascript-user-show">
					<%= render 'microposts/micropost', microposts: @microposts %>
				</div>
			<% end %> 
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-4">
					<%= gravatar_for @user %>
				</div>
				<div class="col-md-8">
					<p><%= link_to "#{@user.name}" %></p>
					<div id="stats-javascript">
						<%= render 'shared/stats', user: @user %>
					</div>
					<div id="follow-form-javascript">
						<%= render 'follow_form', user: @user %>
					</div>
				</div>
			</div>
		</div>
	</div>