<% microposts.each do |micropost| %>
	<ul class="micropost-item">
		<div class="row">
			<li class="col-md-8 micropost-title">
				<%= link_to micropost.video_title, micropost.video_url, target: "_blank" %>		
			</li>	
			<% if current_user?(User.find(micropost.user_id)) %>
				<li class="col-md-2 col-md-offset-2"><%= link_to "削除", micropost_path(micropost.id), remote: true, method: :delete, class: "btn btn-danger", data:{ confirm: "削除してよろしいでしょうか?" } %></li>
			<% end %>
		</div>
		<div class="row">
			<div class="col-md-4">
				<li><%= image_tag(micropost.video_thumbnail, alt: "thumbnail", class: "thumbnail") %></li>
				<li><%= link_to "ジャンル: #{micropost.video_type}", "#" %></li>
			</div>
			<div class="col-md-8">
				<li>
					<span>-コメント-</span>
					<p class="micropost-content"><%= micropost.content %></p>	
				</li>
				<li>
					<span>-投稿者-</span>
					<div class="row">
					<p class="col-md-6"><%= gravatar_for micropost.contributor, size: 50 %>
						<%= link_to micropost.contributor.name, user_path(micropost.contributor) %></p>
					<div class="col-md-2 micropost-like">
						<%= render 'shared/like_form', micropost: micropost %>
						<%= render 'shared/like_stats', micropost: micropost %>
					</div>
					<div class="col-md-4 micropost-created_at"><%= micropost.created_at %></div>
					</div>
				</li>
			</div>
		</div>
	</ul>
<% end %>