<header class="header navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   root_path, class: "header-link" %></li>
        <li><%= link_to "ヘルプ",   help_path, class: "header-link" %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザー一覧",users_path, class: "header-link" %></li>
          <li><%= link_to "投稿" ,input_microposts_path, class: "header-link" %></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle header-link" data-toggle="dropdown">
              投稿一覧 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "全ての投稿", microposts_path, class: "header-link" %></li>
              <li><%= link_to "スポーツ", "#", class: "header-link" %></li>
              <li><%= link_to "モチベーション", "#", class: "header-link" %></li>
            </ul>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle header-link" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_user, class: "header-link" %></li>
              <li><%= link_to "プロフィール編集", edit_user_path(current_user), class: "header-link" %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete, class: "header-link" %></li>
              <li><%= link_to "登録解除", unsubscribe_user_path(current_user), class: "header-link" %></li>
            </ul>
        <% else %>
          <li><%= link_to "ログイン", login_path, class: "header-link"%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header> 